.Rproj.user
.Rhistory
.RData
.Ruserdata
*.dat
*observed*.txt

# Symlink to project and temp data folders
project
temp

# Slurm output files 
slurm-*.out

# BRMS model fits
*.rds

# Rendered .Rmd notebooks
*.html
*.pdf
